<nav class="nav nav-pills">
  <a class="nav-link active " routerLink="/addFlight" routerLinkActive="active">Add Flight</a>
  <a class="nav-link"routerLink="/report" routerLinkActive="active">Flight Report</a>
</nav><br>
<h2>Add Flight</h2>
<form>
  <div class="row">
    <div class="col-sm-2">
      Flight No:<input type="text" class="form-control" [(ngModel)]="flight.flightNo" name="flightNo" placeholder="Enter flight no.">
    </div>
    <div class="col-sm-2"> 
      Flight Name:<input type="text" class="form-control" [(ngModel)]="flight.name" name="name" placeholder="Enter flight name">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      From: <input type="text" class="form-control" [(ngModel)]="flight.departureFrom" name="departureFrom" placeholder="Enter departure airport">
    </div>
    <div class="col-sm-2"> 
      To: <input type="text" class="form-control" [(ngModel)]="flight.arrivalTo" name="arrivalTo" placeholder="Enter arrival airport">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      Departure Date: <input type="date" class="form-control" [(ngModel)]="flight.departureDate" name="departureDate" placeholder="Select departure date">
    </div>
    <div class="col-sm-2"> 
      Arrival Date: <input type="date" class="form-control" [(ngModel)]="flight.arrivalDate" name="arrivalDate" placeholder="Select arrival date">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      Cost: <input type="number" class="form-control" [(ngModel)]="flight.cost" name="cost" placeholder="Enter Cost">
    </div>
    <div class="col-sm-2"> 
      Discount Code: <input type="text" class="form-control" [(ngModel)]="flight.discountCode" name="discountCode" placeholder="Enter discountCode">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      Total Seats: <input type="number" class="form-control" [(ngModel)]="flight.totalSeats" name="totalSeats" placeholder="Enter total seats">
    </div>
    <div class="col-sm-2"> 

    <br>Status: <input type="radio" class="form-check-input" [(ngModel)]="flight.status" name="status" value="Blocked">Block
  <input type="radio" class="form-check-input" [(ngModel)]="flight.status" name="status" value="Unblocked">Unblock<br>
    </div>
  </div>
  <button class="btn btn-primary" (click)='addFlight()'>Add Flight</button>
</form><br>