<nav style="border: 1px solid rgb(33, 8, 146)">
    <button style="padding: 10px;"><a routerLink="/searchFlight" routerLinkActive="active">Search</a></button>
    <button style="padding: 10px;"><a routerLink="/book" routerLinkActive="active">Book Flight</a></button>
    <button style="padding: 10px;"><a routerLink="/details" routerLinkActive="active">Booking Details</a></button>
</nav><br>
<h3>Search Flight</h3><br>
From:<input type="text" [(ngModel)]="searchFlight.departureFrom" name="departureFrom">
To:<input type="text" [(ngModel)]="searchFlight.arrivalTo" name="arrivalTo">
<button (click)="search()">Search</button><br>
<table class="table" border="solid">
    <thead style="background-color: rgb(193, 240, 240);">
        <th scope="col">Flight No</th>
        <th scope="col">Flight Name</th>
        <th scope="col">Arrival Date</th>
        <th scope="col">Departure Date</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Cost</th>
        <th scope="col">Discount Code</th>
        <th scope="col">Total Seats</th>
        <th scope="col">Status</th>
    </thead>
    <tbody>
        <tr *ngFor="let flight of flights" style="background-color: rgb(240, 255, 254);">
            <td>{{flight.flightNo}}</td>
            <td>{{flight.name}}</td>
            <td>{{flight.arrivalDate}}</td>
            <td>{{flight.departureDate}}</td>
            <td>{{flight.departureFrom}}</td>
            <td>{{flight.arrivalTo}}</td>
            <td>{{flight.cost}}</td>
            <td>{{flight.discountCode}}</td>
            <td>{{flight.totalSeats}}</td>
            <td><button><a routerLink="/book" routerLinkActive="active" (click)=' setFlightNo(flight.flightNo)'
                        (click)='setCost(flight.cost)'>Book</a></button></td>
        </tr>
    </tbody>
</table><br>