
  <H1 style="color: rgb(12, 12, 51);">Flight Booking App</H1><br>
  <nav style="border: 1px solid rgb(11, 6, 82);">
    <button style="padding: 10px;"><a routerLink="/admin" routerLinkActive="active">Admin Login</a></button>
    <button style="padding: 10px;"><a routerLink="/user" routerLinkActive="active">User Login</a></button>
    <button style="padding: 10px;"><a routerLink="/userRegistration" routerLinkActive="active">User Registration</a></button>
  </nav><br>
  <router-outlet></router-outlet>
