<H2>User Login Page</H2><br><br>
<form>
        <div class="col-sm-2">
                Enter User Email : <input class="form-control" type="email" placeholder="Enter email"
                        [(ngModel)]="user.email" name="email" required><br>
        </div>

        <div class="col-sm-2">
                Enter Password : <input class="form-control" type="password" [(ngModel)]="user.password"
                        placeholder="Enter password" name="password" required><br>
        </div>
        <button class="btn btn-primary btn-sm" (click)='login()'>Login</button>
        <input class="btn btn-secondary btn-sm" type="reset"><br>
        <ng-container *ngIf="flag">
                <a class="btn btn-secondary" routerLink="/searchFlight" routerLinkActive="active"
                        (click)=' setEmail(user.email)'>User
                        Menu</a><br>
        </ng-container>
</form><br>
Registration page:<a class="btn btn-secondary" routerLink="/userRegistration" routerLinkActive="active">Registration</a>