<H2>User Login Page</H2><br><br>
<form>
        Enter User Email :<input type="text" [(ngModel)]="user.email" name="email"><br>
        Enter Password :<input type="password" [(ngModel)]="user.password" name="password"><br>
        <button (click)='login()'>Login</button>
        <input type="reset"><br>
        <ng-container *ngIf="flag">
                <button><a routerLink="/searchFlight" routerLinkActive="active" (click)=' setEmail(user.email)'>User
                                Menu</a></button><br>
        </ng-container>
</form>
Registration page:<button type="submit"><a routerLink="/userRegistration"
                routerLinkActive="active">Registration</a></button>